name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      BRIDGE_HOSTNAME: ${{ secrets.BRIDGE_HOSTNAME }}
      PRODUCTION_HOSTNAME: ${{ secrets.PRODUCTION_HOSTNAME }}
      DEPLOY_USERNAME: ${{ secrets.DEPLOY_USERNAME }}
      DATABASE_URI: ${{ secrets.DATABASE_URI }}
      DEPLOY_PORT: ${{ secrets.PORT }}
      PAYLOAD_SECRET: ${{ secrets.PAYLOAD_SECRET }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Set up pnpm
        uses: pnpm/action-setup@v3
        with:
          version: latest

      - name: Install dependencies
        run: pnpm install

      - name: Check linting
        run: pnpm lint

      - name: Generate .env file
        run: |
          echo "DATABASE_URI=$DATABASE_URI" > .env
          echo "PORT=$DEPLOY_PORT" >> .env
          echo "PAYLOAD_SECRET=$PAYLOAD_SECRET" >> .env

      - name: Build project
        run: pnpm build:payload

      - name: Build server
        run: pnpm build:server

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          echo -e "Host unison-bridge\n\tHostName $BRIDGE_HOSTNAME\n\tUser $DEPLOY_USERNAME\n\tStrictHostKeyChecking no\n\tUserKnownHostsFile=/dev/null\n\tForwardAgent yes\n" > ~/.ssh/config
          echo -e "Host unison-production\n\tHostName $PRODUCTION_HOSTNAME\n\tUser $DEPLOY_USERNAME\n\tProxyJump unison-bridge\n\tStrictHostKeyChecking no\n\tUserKnownHostsFile=/dev/null\n\tForwardAgent yes\n" >> ~/.ssh/config
          chmod 600 ~/.ssh/config
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_ed25519

      - name: Transfer files to Production
        run: |
          rsync -rvz --delete --exclude=".git" --exclude="media" --exclude="node_modules" ./ unison-production:/var/www/admin.csipro.isi.unison.mx/

      - name: SSH to Production and install dependencies
        run: ssh unison-production "cd /var/www/admin.csipro.isi.unison.mx && ~/.local/share/pnpm/pnpm --prod install"
